@import "tailwindcss";

@theme {
  --color-brand-50: #f0f9ff;
  --color-brand-100: #e0f2fe;
  --color-brand-500: #0ea5e9;
  --color-brand-600: #0284c7;
  --color-brand-950: #082f49;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-50 antialiased;
  }
}